name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.3'
      
      - run: cd ridermate_app && flutter pub get
      
      - run: cd ridermate_app && flutter build apk --release
      
      - uses: actions/upload-artifact@v4
        with:
          name: app-release.apk
          path: ridermate_app/build/app/outputs/flutter-apk/app-release.apk
